.header {
    background-color: #282c34;
    width: 100%;
    height: 80px;
    position: absolute;
    top:0px;
    z-index:999;
    color: white;
    text-align: right;
}
.header .buttonBox{
    margin: 25px;
    margin-right: 50px;
    float: right;
    font-size: 16px;
    
}
.headerM a:link { color: white; text-decoration: none;}
.headerM a:visited { color: white; text-decoration: none;}
.headerM a:hover { color: gray; text-decoration: underline;}