.contactWrapM{
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 15%;
}

.contactWrapM h1{
    margin-left: 5%;
}

.logoBoxM{
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
}