.profileWrapM{
    margin-left: 10%;
    margin-top: 15%;
}
.profileWrapM p{
    margin: 0;
}
.nameBoxM p{
    letter-spacing: 0.5ch;
    font-weight: 1000;
    font-size: calc(10px + 1vh);
    text-shadow: 2px 2px 10px grey;
}

.mainTextBoxM p{
    font-size: 13vw;
    font-weight: bolder;
    line-height: 100%;
}
.mottoTextBoxM p{
    font-size: 1.8h;
}
.educationBoxM p{
    line-height: 150%;
    font-size: 1.8h;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.mottoTextBox{
    position: relative;
    animation: fadeInUp 1s;
}
.educationBox {
    position: relative;
    animation: fadeInUp 1s;
}